<% include ../partials/header %>
<div class="container">
  <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
  <h1 class="text-uppercase mb-0">Hola !!!</h1>
  <hr class="star-light">
  
</div>
<% include ../partials/footer %>
